{% extends "base.html" %}
{% load pygmentize %}

{% block extraheader %}
<style>{% pygments_css %}</style>
{% endblock %}

{% block main %}
<h2>テストの詳細：{{ test.test_name }}</h2>
<br>
<p>制作者：{{ test.created_by.username }}</p>
<div class="test-date">
    投稿日：{{ test.created_at|date:"DATETIME_FORMAT" }}
</div>
<br>
<p>テストの説明：{{ test.description | linebreaksbr }}</p>

{% if user.is_authenticated and test.created_by_id == user.id %}
<a href="{% url 'test_edit' test.id %}" class="btn btn-outline-primary">編集</a>
<a href="{% url 'result' test.id %}" class="btn btn-outline-primary">結果を表示する</a>
<a href="{% url 'test_delete' test.id %}" class="btn btn-outline-primary">削除</a>
{% endif %}
<a href="{% url 'answer_new' test.id %}" class="btn btn-outline-primary">テストを受ける</a>


{% endblock %}
