{% extends "base.html" %}

{% block main %}

<div class="container">
    <div class="welcome">
        <h1>音声テストポータルへようこそ!</h1>
        <p>音声の主観評価にご協力お願いいたします！</p>
    </div>
</div>

<div class="site-introduction">
    <h3>サイトの使い方</h3>
    <ol>
        <li>初めに<a href="{% url 'signup' %}">アカウント作成</a>を行ってください。
        <li>アカウントを既に作成している場合は、<a href="{% url 'login' %}">こちら</a>からログインできます。</li>
        <li>ログイン後、下の「音声テスト一覧」からテストを選択して実施できます。すべてのテストへのご参加をお願いいたします。</li>
    </ol>
</div>

<div class="all-tests">
    <h3>音声テスト一覧</h3>
    {% if tests %}

    <table class="table">
        <thred>
        <tr>
            <th>音声テスト名</th>
            <th>投稿者</th>
            <th>投稿日</th>
            <th></th>
            <th></th>
        </tr>
        </thred>
        <tbody>
        {% for test in tests %}
        <tr>
            <th><a href="{% url 'test_detail' test.id %}">{{ test.test_name }}</a></th>
            <th>{{ test.created_by.username }}</th>
            <th>{{ test.created_at }}</th>
            {% if user.is_authenticated and user == test.created_by %}
            <th><a href="{% url 'test_delete' test.id %}" class="btn btn-outline-primary">削除する</a></th>
            <th><a href="{% url 'result' test.id %}" class="btn btn-outline-primary">結果を表示する</a></th>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>公開されているテストはありません。</p>
    {% endif %}
</div>

{% endblock %}