{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>音声テストポータル</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'test/css/style.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand">音声テストポータル</a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item"><div class="nav-link">こんにちは {{ user.username }} さん</div></li>
            <li class="nav-item">
                <form action='{% url "logout" %}' method='post' name='logout'>
                    {% csrf_token %}
                    <a class="nav-link" href="javascript:logout.submit()">ログアウト</a>
                </form>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'test_new' %}">音声テストを新規作成する</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">アカウント作成</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>